body {
    /* padding: 0; */
    /* margin: 0; */
    background:linear-gradient(lightgreen,gold);
    /* overflow: hidden; */
}
#check {
    background-color: white;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 15px;
    width: 50%;
    max-width: 400px;
}
#check h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}
#checkInfo div {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
#check p {
    font-size: 32px;
    margin-top: -1px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
#checkFoot {
    margin-top: -30px;
    text-transform: uppercase;
}
#checkFoot div {
    display: flex;
    justify-content: space-between;
}
#QRcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
#QRcode img {
    width: 150px;
}

/* Создание маркера */
#head_marker {
    text-align: center;
}

/*! Modal Window  */
#modal{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#overlay{
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 102%;
    height: 100%;
}

#modal_window{
    border: 1px solid #000;
    background:linear-gradient(lightgray, gold);
    width: 420px;
    /* height: 300px; */
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 23px;
}

#modal_window div{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: flex-start;
}
#modal_window div:nth-child(1){
    font-size: 25px;
}

#timer {
    font-size: 14px;
}

#modal_window button{
    /* display: flex; */
    display: none;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 3px;
    border: none;
    border-radius: 50%;
}

#modal_window button:hover{
    background-color: gold;
    cursor: pointer;
}

/*! Космический корабль  */
/* Фон (космос) */
#spaceship {
    min-width: 750px;
    background-image: url(/public/space_3.png);
    background-size: cover;
    color: lightgray;
    padding: 10px;
    animation: starsMove 57s linear infinite paused;
    margin-bottom: 90px;
    transition: .1s;
}
/* Смещение фона */
@keyframes starsMove {
    from {
        
    }

    to {
        background-position: -1100px;
    }
}

/* Иконка космического корабля */
#spaceShipImg {
    opacity: 0;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 130px;
    margin-left: 10px;
    transition: 0.1s;
}
#spaceShipImg img {
    width: 100px;
}

/* Первичная информация для пользователя */
#spaceship h1 {
    color: gold;
    text-align: center;
}

/* input */
#name_ship {
    color: gold;
    background-color: black;
    height: 30px;
    width: 200px;
    border: 1px solid rgba(255, 217, 0, 0.326);
}
#name_ship::placeholder {
    color: rgba(255, 217, 0, 0.326);
}

/* Кнопка Enter для пользователя */
#btnEnter {
    background-color: black;
    color: gold;
    box-shadow: 1px 1px 10px gold;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
#btnEnter:active {
    box-shadow: 1px 1px 10px aquamarine;
    color: aquamarine;
}

/* Строка событий (при вызове кнопки "информация" */
#events {
    margin-top: 430px;
    font-size: 20px;
    opacity: 0;
}

/*! Панель управления кораблем*/
/* Вся панель */
#ship_control_panel {
    position: sticky;
    top: 800px;
    border: 1px solid rgb(177, 200, 7);
    background: linear-gradient(to right, black, rgb(2, 2, 39));
    padding: 5px;
    opacity: 0;
    transition: 4s;
}

/* Заголовок панели */
#ship_control_panel h3 {
    text-align: center;
    color: gold;
    margin-top: 5px;
    text-shadow: 1px 1px 1px rgb(114, 97, 1);
}

/* Запуск */
#start {
    width: 100px;
    height: 100px;
    color: black;
    background-color: lightgreen;
    border-radius: 10px;
    margin-top: 2px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start:hover {
    cursor: pointer;
}

/* Кнопки управления космолетом */
#control_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 160px;
    opacity: 0;
}
#control_buttons img { /* Стрелки внутри кнопок */
    width: 35px;
}
#control_buttons button { /* Стили к кнопкам управления */
    width: 50px;
    height: 50px;
    background-color: rgb(255, 183, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px gold;
}
#control_buttons button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px lightgreen;
}
#control_buttons button:active {
    background-color: lightgreen;
    box-shadow: none;
}

/* Стили стрелок внутри кнопок */
#up img {
    transform: rotate(-90deg);
    display: flex;
    margin-left: 1px;
}
#left img {
    transform: rotate(180deg);
}
#down img {
    transform: rotate(90deg);
    display: flex;
    margin-left: -1.8px
}
#right img {
    margin-top: 4px;
}

/* Контейнер (class) для кнопок: "информация" и "Заправить топливо" */
.containers{
    opacity: 0;
}

/* Кнопка "Информация" */
#info {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: gold;
    box-shadow: 1px 1px 10px gold;
}
#info:hover {
    cursor: pointer;
    color: white;
}
#info:active {
    color: black;
    background-color: white;
}

/* Заправка */
#refuel {
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 102px;
    background-color: gold;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gold;
}
#refuel:hover {
    cursor: pointer;
}
#refuel:active {
    background-color: red;
    box-shadow: none;
    transition: 0s;
}

/* Шкала топлива */
#fuel_level {
    opacity: 0;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid white;
    margin-top: 10px;
    margin-right: 5px;
}
#fuel_level img { /* Иконка заправки */
    width: 20px;
    margin-top: 5px;
}

/* Бегущая шкала топлива */
#fuel_block {
    width: 0px;
    height: 30px;
    transition: 0s;
    /* background-color: green; */
}

/* border шкалы топлива */
#stripe_fuel {
    overflow: hidden;
    opacity: 0;
    border: 2px solid #000;
    width: 200px;
    height: 0px;
}


/*! Home Work  */
#tableStuf {
    margin: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

#tableStuf th, #tableStuf td {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

#new_worker {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

#new_worker input {
    height: 20px;
}

#add_worker {
    margin-left: 20px;
    /* width: 177px; */
    height: 30px;
}

#delete_worker {
    height: 30px;
}

/* ! Поле и мяч */
#field {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 500px;
    font-size: 40px;
    background-color: green;
    border: 5px solid black;
    overflow: hidden
}
#ball {
    position: absolute;
}

