body {
    /* padding: 0; */
    /* margin: 0; */
    background:linear-gradient(black, gold, white);
    /* overflow: hidden; */
}
#check {
    background-color: white;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 15px;
    width: 50%;
    max-width: 400px;
}
#check h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}
#checkInfo div {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
#check p {
    font-size: 32px;
    margin-top: -1px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
#checkFoot {
    margin-top: -30px;
    text-transform: uppercase;
}
#checkFoot div {
    display: flex;
    justify-content: space-between;
}
#QRcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
#QRcode img {
    width: 150px;
}

/* Создание маркера */
#head_marker {
    text-align: center;
}

/*! Modal Window  */
#modal{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#overlay{
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 102%;
    height: 100%;
}

#modal_window{
    border: 1px solid #000;
    background:linear-gradient(lightgray, gold);
    width: 420px;
    /* height: 300px; */
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 23px;
}

#modal_window div{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: flex-start;
}
#modal_window div:nth-child(1){
    font-size: 25px;
}

#timer {
    font-size: 14px;
}

#modal_window button{
    /* display: flex; */
    display: none;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 3px;
    border: none;
    border-radius: 50%;
}

#modal_window button:hover{
    background-color: gold;
    cursor: pointer;
}

/*! Космический корабль  */
/* Фон (космос) */
#spaceship {
    min-width: 750px;
    background-image: url(/public/space_3.png);
    background-size: cover;
    color: lightgray;
    padding: 10px;
    animation: starsMove 57s linear infinite paused;
    margin-bottom: 90px;
    transition: .1s;
}
/* Смещение фона */
@keyframes starsMove {
    from {
        
    }

    to {
        background-position: -1100px;
    }
}

/* Иконка космического корабля */
#spaceShipImg {
    opacity: 0;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 130px;
    margin-left: 10px;
    transition: 0.1s;
}
#spaceShipImg img {
    width: 100px;
}

/* Первичная информация для пользователя */
#spaceship h1 {
    color: gold;
    text-align: center;
}

/* input */
#name_ship {
    color: gold;
    background-color: black;
    height: 30px;
    width: 200px;
    border: 1px solid rgba(255, 217, 0, 0.326);
}
#name_ship::placeholder {
    color: rgba(255, 217, 0, 0.326);
}

/* Кнопка Enter для пользователя */
#btnEnter {
    background-color: black;
    color: gold;
    box-shadow: 1px 1px 10px gold;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
#btnEnter:active {
    box-shadow: 1px 1px 10px aquamarine;
    color: aquamarine;
}

/* Строка событий (при вызове кнопки "информация" */
#events {
    margin-top: 430px;
    font-size: 20px;
    opacity: 0;
}

/*! Панель управления кораблем*/
/* Вся панель */
#ship_control_panel {
    position: sticky;
    top: 800px;
    border: 1px solid rgb(177, 200, 7);
    background: linear-gradient(to right, black, rgb(2, 2, 39));
    padding: 5px;
    opacity: 0;
    transition: 4s;
}

/* Заголовок панели */
#ship_control_panel h3 {
    text-align: center;
    color: gold;
    margin-top: 5px;
    text-shadow: 1px 1px 1px rgb(114, 97, 1);
}

/* Запуск */
#start {
    width: 100px;
    height: 100px;
    color: black;
    background-color: lightgreen;
    border-radius: 10px;
    margin-top: 2px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start:hover {
    cursor: pointer;
}

/* Кнопки управления космолетом */
#control_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 160px;
    opacity: 0;
}
#control_buttons img { /* Стрелки внутри кнопок */
    width: 35px;
}
#control_buttons button { /* Стили к кнопкам управления */
    width: 50px;
    height: 50px;
    background-color: rgb(255, 183, 0);
    border-radius: 10px;
    box-shadow: 1px 1px 10px gold;
}
#control_buttons button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px lightgreen;
}
#control_buttons button:active {
    background-color: lightgreen;
    box-shadow: none;
}

/* Стили стрелок внутри кнопок */
#up img {
    transform: rotate(-90deg);
    display: flex;
    margin-left: 1px;
}
#left img {
    transform: rotate(180deg);
}
#down img {
    transform: rotate(90deg);
    display: flex;
    margin-left: -1.8px
}
#right img {
    margin-top: 4px;
}

/* Контейнер (class) для кнопок: "информация" и "Заправить топливо" */
.containers{
    opacity: 0;
}

/* Кнопка "Информация" */
#info {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: gold;
    box-shadow: 1px 1px 10px gold;
}
#info:hover {
    cursor: pointer;
    color: white;
}
#info:active {
    color: black;
    background-color: white;
}

/* Заправка */
#refuel {
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 102px;
    background-color: gold;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gold;
}
#refuel:hover {
    cursor: pointer;
}
#refuel:active {
    background-color: red;
    box-shadow: none;
    transition: 0s;
}

/* Шкала топлива */
#fuel_level {
    opacity: 0;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid white;
    margin-top: 10px;
    margin-right: 5px;
}
#fuel_level img { /* Иконка заправки */
    width: 20px;
    margin-top: 5px;
}

/* Бегущая шкала топлива */
#fuel_block {
    width: 0px;
    height: 30px;
    transition: 0s;
    /* background-color: green; */
}

/* border шкалы топлива */
#stripe_fuel {
    overflow: hidden;
    opacity: 0;
    border: 2px solid #000;
    width: 200px;
    height: 0px;
}


/*! Home Work  */
#tableStuf {
    margin: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

#tableStuf th, #tableStuf td {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

#new_worker {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

#new_worker input {
    height: 20px;
}

#add_worker {
    margin-left: 20px;
    /* width: 177px; */
    height: 30px;
}

#delete_worker {
    height: 30px;
}

/* ! Поле и мяч */
#field {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 500px;
    font-size: 40px;
    background-color: green;
    border: 10px solid black;
    overflow: hidden;
    margin-bottom: 200px;
    margin-left: 5px;
}
#ball {
    position: absolute;
}

/*! HOME WORK  */
/*! Task 1  */
#table_one {
    margin-top: 50px;
    /* border: 2px solid #000; */
    border-collapse: collapse;
}

#table_one th, #table_one td {
    padding: 5px 8px;
    border: 2px solid #000;
}

/*! Task 2  */
#ban_user {
    background-color: bisque;
    padding: 20px;
    height: 250px;
    user-select: none;
}

/*! Task 3 */
#button_like {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(49, 204, 239);
}
#button_like:hover {
    cursor: pointer;
    color:  bisque;
}

#button_like:active {
    background-color: white;
    color: rgb(49, 204, 239);
}
#button_like img{
    width: 50px;
}

/*! Task 4 */
#calculator {
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px;
    background-color: bisque;
    width: 220px;
}
#input_line{
    width: 214px;
}
#input_line input {
    width: 100%;
    /* height: 40px; */
    font-size: 30px;
    text-align: right;
}
#input_line input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#buttons_calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    border: 1px solid #000;
}
#buttons_calc button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding:  15px 20px;
    width: 100%;
}
#buttons_calc button:hover {
    cursor: pointer;
}
#equals {
    grid-column: 2/4;
}

/*! Task 5 */
#header_5 {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    height: 62px;
    margin-bottom: 150px;
}

#header_5 li{
    list-style: none;
    padding: 20px;
    background-color: darkblue;
    width: 80px;
    text-align: center;
}
.change_display {
    display: block !important;
    background: greenyellow;
}

#header_5 li:hover {
    cursor: pointer;
    background-color: rgb(20, 23, 173);
}

#header_5 li ul {
    margin-left: -60px;
    display: none;
}

#header_5 li ul li:first-child {
    margin-top: 18px;
}

.display {
    display: block;
}

/*! Task 6 */
#containBtn {
    height: 100px;
    /* border: 1px solid #000; */
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#toTop {
    padding: 20px;
    background-color: darkblue;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 35px;
    display: none;
}

#containBtn:hover>#toTop{
    cursor: pointer;
    background-color: rgb(19, 19, 189);
    animation: jump 0.5s ease-in-out infinite alternate;
    position: static;
}

@keyframes jump {
    0% {
        margin-top: 30px;
    }
             
    100% {
        margin-top: 0px; 
    }
}

/*! Home work */
/* Рандомные числа */
#contain_random {
    width: 20%;
    background-color: bisque;
    margin: 40px 40px;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#generate {
    margin-top: 15px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(255, 217, 0, 0.5);
}
#generate:hover {
    cursor: pointer;
    background-color: rgba(255, 217, 0);
    text-shadow: 1px 1px 1px black;
}

/*! Task 2 */
#move_mouse {
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(0, 128, 0, 0.517);
}

/*! Task 3 */
#text_none {
    color: white;
    background-color: darkblue;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
}
#text_none:hover {
    cursor: pointer;
    background-color: rgb(2, 2, 205);
}

/*! Task 4 */
#Task_4 {
    margin: auto;
    overflow-y: scroll;
    background-color: bisque;
    height: 300px;
    width: 700px;
    display: flex;
    gap: 10px;
}

#panel_control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 0;
    left: 0;
    color: white;
    background-color: darkblue;
}

#panel_control div {
    padding: 10px;
    cursor: pointer;
}
#panel_control div:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.page {
    padding: 20px;
}

/*! Task 5 */
#task5 {
    margin-top: 40px;
    background-color: bisque;
    padding: 20px 40px;
}

#task5 button{
    height: 30px;
    cursor: pointer;
}

.headAndRemoveNews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*! Task 6 */
#task6 {
    background-color: bisque;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

#task6 button {
    padding: 5px;
    cursor: pointer;
    background-color: gold;
    transition: 0.3s;
}
#task6 button:hover {
    background-color: rgba(255, 217, 0, 0.5);
    letter-spacing: 5px;
}
#task6 button:active {
    background-color: black;
    color: gold;
    transition: 0s;
} 

#contain_porgressbar {
    border: 2px solid #000;
    /* overflow: hidden; */
}

#progressbar {
    height: 40px;
    background-color: darkcyan;
    width: 0%;
}

#progress {
    padding: 10px;
    background-color: darkslategray;
    color: white;
}

/*! Карусель */
#carousel {
    margin-top: 40px;
    padding: 20px;
    background-color: bisque;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 600px;
}

#carousel button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
}

#carousel button:hover {
    filter: contrast(2);
}

#carousel button img{
    width: 50px;
}

#carousel button:nth-child(1) {
    transform: rotate(180deg);
}

#contain_carousel {
    border-radius: 50px;
    overflow: hidden;
}

#contain_carousel img {
    width: 160px;
    border-radius: 50%;
}

#carousel_img {
    transition: 0.5s;
    display: flex;
    gap: 10px;
}

/*! Home Work  */
/*! Task 1  */
#input_number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: bisque;
    padding: 10px;
    box-sizing: border-box;
    width: 150px;
    height: 100px;
    font-size: 40px;
}
#number_value {
    min-width: 45px;
}

#number_value, #arrows button {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: transparent;
}

#arrows button:last-child {
    border-top: none;
}
#arrows button:hover {
    cursor: pointer;
    background-color: beige;
}
#arrows button:active {
    background-color: white;
    border: none;
}

#arrow1 {
    transform: rotate(-90deg);
    width: 26px;
}
#arrow2 {
    transform: rotate(90deg);
    width: 26px;
}

/*! Task 2 */
#contain_task2 {
    background-color: bisque;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contain_block_color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#addColor, #removeColor {
    background:linear-gradient(to right, red, green, blue);
    padding: 10px;
    cursor: pointer;
}

#removeColor {
    background:linear-gradient(to left, red, green, blue);
}

/*! task 3 */
#task3 {
    padding: 10px;
    margin-top: 20px;
    background-color: bisque;
}

#panel_colors {
    width: 200px;
    height: 40px;
    display: grid;
    /* gap: -10px; */
    grid-template-columns: repeat(9, 1fr);
}

#panel_colors div {
    border: 1px solid #000;
    /* width: 10px; */
}

/*! Task 4 */
#window_comments {
    margin-top: 40px;
    padding: 20px;
    background-color: bisque;
}

#info_users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#info_users textarea {
    width: 40%;
    height: 100px;
}

/*! Задание 5 */
#title {
    display: none;
    overflow-y: scroll;
    height: 100px;
    border: 1px solid #000;
    background-color: rgb(136, 136, 136);
    width: 175px;
    color: white;
    /* padding: 5px; */
}

#title div {
    padding: 5px;
}

#title div:hover {
    background-color: black;
    cursor: pointer;
}

/* ! Классная работа */
#outer {
    background-color:  gray;
    width: 100px;
    height: 100px;
}

#inner {
    /* position: absolute; */
    background-color: #000;
    width: 50px;
    height: 50px;
}


/*! Home Work */
#html_task1 {
    padding: 20px;
    margin-top: 20px;
    background-color: bisque;
}

/* Task 2 */
#html_task2 {
    /* width: 400px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: bisque;
}

#light {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #000;
}

#light div {
    border: 1px solid #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#btn_next {
    height: 120px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to right, red, yellow, green)
}

/* task 5 */
#task5_ol {
    padding: 20px;
    margin-top: 40px;
    background-color: bisque;
}

#task5_ol ol li:hover {
    background-color: orange;
    cursor: pointer;
}


/* Задание 6 */
#container_title {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    padding: 20px;
    background-color: bisque;
    height: 800px;
}

#btn1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 50px;
}

.title_btn div:nth-child(1) {
    background-color: rgba(151, 23, 151);
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: absolute;
    z-index: 2
}

.title_btn div:nth-child(2) {
    width: 25px;
    height: 25px;
    background-color: rgba(151, 23, 151);
    transform: rotate(45deg);
    margin-top: 20px;
    position: absolute;
    z-index: 1;
}

#btn1 button {
    position: absolute;
    margin-top: 50px;
    width: 120px;
    background-color: gold;
    padding: 10px;
}